openapi: 3.1.0

info:
  title: DWP Apply for PIP account manager service v6
  version: 4.0.0

servers:
  - url: 'https://localhost:8080'

paths:
  /v6/can-apply/{nino}:
    get:
      tags:
        - Citizens
      summary: Indicate if an application can be submitted for the citizen
      description: "For given citizen NINO provide information indicating if an application can be made:\r\n* an active PIP Award exists\r\n* an active application exists\r\n\r\n Agent Use Case(s):\r\n* No digital account exists, perform **realtime**\r\n* Digital account exists and all claim/application records have a state of [withdrawn or decision-made]; perform **realtime**\r\n\r\nCitizen Use Case(s):\r\n* private beta only and application record state in [application_pending, application_started]; perform **realtime**\r\n\r\nPerforms BR3008 check"
      parameters:
        - name: x-dwp-correlation-id
          in: header
          required: true
          schema:
            type: string
        - name: nino
          in: path
          required: true
          schema:
            type: string
          description: 'pattern is ^(?!BG)(?!GB)(?!NK)(?!KN)(?!TN)(?!NT)(?!ZZ)[A-Z&&[^DFIQUV]][A-Z&&[^DFIOQUV]][0-9]{6}[A-D]$ and maxLength is 9'
        - name: check-pip-apply
          in: query
          required: false
          schema:
            type: boolean
          description: 'if set to true, pip apply data will be checked along with pipcs data'
      responses:
        '200':
          description: A new claim can be made now.
          content:
            application/json:
              schema:
                items:
                  $ref: 'openapi-spec-v5.yaml#/components/schemas/CheckClaimResponse'
        '400':
          description: The data request is invalid. Check the error message for further information and resend the request with the corrected data.
        '412':
          description: 1.A new claim can not be made as an existing claim is in progress. 2.A new claim can not be made as no award end date is set on current claim. 3.A new claim can not be made as the award end date is more than 6 months in the future.
        '417':
          description: nino data item failed PIPCS validation rules.PIP Apply data not uploaded to PIPCS.
        '500':
          description: An internal server error occurred. Contact your administrator for more information
        default:
          description: An unexpected error occurred. Check the error message for further information
