<html>
<head>
  <style>
    body {
      font-family: 'arial', serif;
    }
  </style>
</head>
<body>
<h1>Tell us how your health condition or disability affects you (PIP 2)</h1>
<br/><br/>
<h2>First Name</h2>
${firstName}
<br/>
<h2>Last Name</h2>
${lastName}
<br/>
<h2>National Insurance number</h2>
${nino}
<br/>
<h2>Date of birth</h2>
${dateOfBirth}
<hr style='margin: 30px 0'/>
${questionSections}
<h2>Declaration:</h2>
<br/>
Agreed
<br/>
<h3>End of questionnaire</h3>
<br/>
<h3>Submitted: ${submissionDate}</h3>
</body>
</html>
