<html>
<head>
    <style>
        body {
            font-family: 'arial', serif;
        }
    </style>
</head>
<body>
<h1>Tell us how your health condition or disability affects you (PIP 2)</h1>
<br/><br/>
<h2>Title</h2>
${title}
<br/>
<h2>First Name</h2>
${firstName}
<br/>
<h2>Last Name</h2>
${lastName}
<br/>
<h2>National Insurance number</h2>
${nino}
<br/>
<h2>Date of birth</h2>
${dateOfBirth}
<br/><br/>
<h2>Tell us about your health</h2>
${conditionsTable}
<br/><br/>
<h2>Are there any health professionals that you would like to tell us about?</h2>
<br/>
${yesOrNo}
${professionalsTable}
<br/><br/>
<h2>Tell us about your daily living activities</h2>
<br/>
<h3>Does your condition affect you preparing food, or ever prevent you from doing so?</h3>
<br/>
${foodAffected}
${foodDescription}
<br/>
<h3>Does your condition affect you eating and drinking?</h3>
<br/>
${eatingAffected}
${eatingDescription}
<br/>
<h3>Does your condition affect you managing your treatments?</h3>
<br/>
${treatmentAffected}
${treatmentDescription}
<br/>
<h3>Does your condition affect you washing and bathing?</h3>
<br/>
${washingAffected}
${washingDescription}
<br/>
<h3>Does your condition affect you using the toilet or managing incontinence?</h3>
<br/>
${toiletAffected}
${toiletDescription}
<br/>
<h3>Does your condition affect you dressing or undressing?</h3>
<br/>
${dressingAffected}
${dressingDescription}
<br/>
<h3>Does your condition affect you talking, listening and understanding?</h3>
<br/>
${commAffected}
${commDescription}
<br/>
<h3>Does your condition affect your ability to read?</h3>
<br/>
${readingAffected}
${readingDescription}
<br/>
<h3>Does your condition affect you mixing with other people?</h3>
<br/>
${socialAffected}
${socialDescription}
<br/>
<h3>Does you condition affect you managing money?</h3>
<br/>
${moneyAffected}
${moneyDescription}
<br/>
<h2>Tell us about your mobility activities</h2>
<br/>
<h3>Does your condition affect you planning and following journeys?</h3>
<br/>
${navAffected}
${navDescription}
<br/>
<h3>Does your condition affect you moving around?</h3>
<br/>
${movingAffected}
${movingDescription}
<br/>
<h2>Tell us about anything else</h2>
<br/>
<h3>Is there anything else you would like to tell us about?</h3>
<br/>
${otherAffected}
<br/>
${other}
<br/>
<h2>Declaration:</h2>
<br/>
Agreed
<br/>
<h3>End of questionnaire</h3>
<br/>
<h3>Submitted: ${submissionDate}</h3>
</body>
</html>
